@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap")

p, h2
  margin: 0

#root
  display: flex
  flex-direction: column
  align-items: center
  gap: 50px
  padding: 20px
  box-sizing: border-box
  height: 100%

body
  background: linear-gradient(#FF9A00, black)
  height: 100%

body, button, input
  margin: 0
  font-family: Inter

button
  cursor: pointer
  transition: 300ms
  background-color: black
  color: white
  border: none
  padding: 5px 10px
  border-radius: 5px
  font-weight: 500
  &:hover
    color: black
    background-color: #FFC873
    box-shadow: 0 0 5px 2px #A66400

.search__error-btn
  &:hover
    background-color: #FFA473
    box-shadow: 0 0 5px 2px #A63A00

//search

.search__cont
  width: 100%
  display: flex
  justify-content: space-between

.search__panel-wrapper
  display: flex
  gap: 10px

input
  border: none
  padding-left: 10px
  border-radius: 5px

//results

.results__cont
  display: flex
  width: 90vw
  flex-wrap: wrap
  justify-content: center
  gap: 10px

.results__item
  background-color: white
  width: 200px
  display: flex
  flex-direction: column
  gap: 5px
  border: 1px solid black
  box-sizing: border-box
  overflow: hidden
  border-radius: 10px
  transition: 300ms
  cursor: pointer
  &:hover
    box-shadow: 0 0 10px 0	#FFC873

.results__item > img
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  box-shadow: 0 0 20px -5px black

.results__item-info
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 10px
  gap: 3px

.results__item-info > p > span
  font-weight: 700


//error

.error__wrapper
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.error__cont
  width: 300px
  padding: 30px
  border-radius: 10px
  background-color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 30px

.error__cont > div
  width: 200px
  height: 200px
  background-image: url("assets/sad-smile.png")
  background-position: 50%
  background-size: 200px

//loader

.loader__wrapper
  width: 100%
  height: 100vh

.loader__wrapper > div
    position: relative
    z-index: 6
    height: 22px
    top: calc(40% - 42px)
    &::after
        position: absolute
        content: ''
        width: 30px
        height: 30px
        top: 42px
        left: calc(50% - 15px)
        border: 4px solid rgba(0, 0, 0, 0.1)
        border-left-color: white
        border-radius: 50%
        animation: donut-spin 1.2s linear infinite

@keyframes donut-spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)